<!DOCTYPE html>
<html>
	<head>
		<title>Message</title>
	</head>

	<body>
		<center><h1>Message</h1><br/>
		From : <%=sender%>
		<br/>
		Content : <%=content%>
		<br/>
		<br/>
		<center><a href="/home">Home</a></center>
	</body>
</html>

		
