<!DOCTYPE html>
	<html>
		<head>
		<title>Send message</title>
		<script>
			function validateForm() {
			  var x = document.forms["registerForm"]["username"].value;
			  if (x == "") {
			    alert("Please enter the receiver's username");
			    return false;
			  }
			  var y = document.forms["registerForm"]["content"].value;
			  if (y == "") {
			    alert("Please enter the content");
			    return false;
			  }
			}
		</script>
	</head>
	<body>
		<center>
			<h1>SEND</h1>
			<br/>
			<form name="messageForm" action="/message?<%=user%>"  onsubmet="return validateForm()" method="POST">
				<label for="username">To (username):</label>
				<br/>
				<input type="text" id="username" name="username"/>
				<br/>
				<br/>
				<label for="password">Content:</label>
				<br/>
				<input type="text" id="content" name="content"/>
				<br/>
				<br/>
				<input type="submit" id="submit" name="submit" value="Send"/>
			</form>
		</center>
	</body>
</html>
