<!DOCTYPE html>
	<html>
		<head>
		<title>Send message</title>
		<!--
		<script>
			function validateForm() {
			  var x = document.forms["newMessageForm"]["username"].value;
			  if (x == "") {
			    alert("Please enter the receiver's username");
			    return false;
			  }
			  var y = document.forms["newMessageForm"]["content"].value;
			  if (y == "") {
			    alert("Please enter the content");
			    return false;
			  }
			}
		</script>
		-->
	</head>
	<body>
		<center>
			<h1>SEND</h1>
			<br/>
			<form name="newMessageForm" action="/send"  onsubmit="return validateForm()" method="POST">
				<label for="username">To (username):</label>
				<br/>
				<input type="text" id="username" name="username" required minlength="6" maxlength="50" pattern="[0-9A-Za-z.,!@#$%^&*_=+?]*"/>
				<br/>
				<br/>
				<label for="content">Content:</label>
				<br/>
				<input type="text" id="content" name="content" required minlength="1" maxlength="50" pattern="[0-9A-Za-z.,!@#$%^&*_=+?/ ]*"/>
				<br/>
				<br/>
				<input type="submit" id="submit" name="submit" value="Send"/>
			</form>
		</center>
	</body>
</html>
